<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>
      Back to Dashboard
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="container col-md-5">
  <div class="card">
    <div class="card-header">
      Add Client
    </div>
    <div class="card-body">
      <flash-messages></flash-messages>
      <!-- Template driven form -->
      <!-- novalidate disables standard html5 form validation -->
      <!-- #f: Group Variable ; Setup ngForm -->
      <!-- ngSubmit is watching the action of onSubmit() that will take 'f' as an object -->
      <!-- It should have an input per object inside the model -->
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="firstName">First Name</label>
      <!-- ngModel bind  -->
      <!-- #Identifier = ngModel allow us to have validations -->
      <!-- validations defined -->

      <!-- ngClass will tests if validations equal true and apply the class -->
      <!-- *bootstrap component 'is-invalid' shows or not the validations 'invalid-feedback' -->
      <!-- https://angular.io/api/common/NgClass -->
          <input 
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid' : clientFirstName.errors?.required && clientFirstName.touched || clientFirstName.errors?.minlength && clientFirstName.touched }"
            [(ngModel)]="client.firstName"
            name="firstName"
            #clientFirstName= "ngModel"
            minlength="2"
            required
          > 
      <!-- Validations -->
      <!-- *boostrap component 'invalid-feedback' will show only if ngClass is valid -->
          <div *ngIf="clientFirstName.errors?.required && clientFirstName.touched" class="invalid-feedback">First name is required</div>
          <div *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched" class="invalid-feedback">Must be at least 2 characters</div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input 
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid' : clientLastName.errors?.required && clientLastName.touched || clientLastName.errors?.minlength && clientLastName.touched }"
            [(ngModel)]="client.lastName"
            name="lastName"
            #clientLastName= "ngModel"
            minlength="2"
            required
          > 
          <div *ngIf="clientLastName.errors?.required && clientLastName.touched" class="invalid-feedback">Last name is required</div>
          <div *ngIf="clientLastName.errors?.minlength && clientLastName.touched" class="invalid-feedback">Must be at least 2 characters</div>       
        </div>
        <!-- Email pattern -->
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid' : clientEmail.errors?.required && clientEmail.touched || clientEmail.errors?.pattern && clientEmail.touched }"
            [(ngModel)]="client.email"
            name="email"
            #clientEmail= "ngModel"
            required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          > 
          <div *ngIf="clientEmail.errors?.required && clientEmail.touched" class="invalid-feedback">Email is required</div>
          <div *ngIf="clientEmail.errors?.pattern && clientEmail.touched" class="invalid-feedback">Email invalid</div>       
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input 
            type="text"
            class="form-control"
            [ngClass]="{'is-invalid' : clientPhone.errors?.required && clientPhone.touched || clientPhone.errors?.minlength && clientPhone.touched }"
            [(ngModel)]="client.phone"
            name="phone"
            #clientPhone= "ngModel"
            minlength="10"
            required
          > 
          <div *ngIf="clientPhone.errors?.required && clientPhone.touched" class="invalid-feedback">Phone is required</div>
          <div *ngIf="clientPhone.errors?.minlength && clientPhone.touched" class="invalid-feedback">Invalid phone number</div>       
        </div>
        <div class="form-group">
          <label for="balance">Balance</label>
          <input 
            type="text"
            class="form-control"
            [(ngModel)]="client.balance"
            name="balance"
            #clientBalance= "ngModel"
            [disabled]="disableBalanceOnAdd"
          >       
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
</div>