<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded mb-4">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/">Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
        <a class="nav-link" href="#" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">{{ loggedInUser }}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" routerLink="/settings">Settings</a>
          </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li>
    </ul>
  </div>
</nav>