<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="text-center">Login</h4>
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div><br>
          <input type="submit" value="Submit" class="btn btn-info btn-block"><br>
        </form>
      </div>
    </div>
  </div>
</div>