<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> Clients</h2>
  </div>
  <div class="col-md-6">
    <!-- 3) hook it -->
    <h5 class="text-right text-secondary">Total Owed: {{ totalOwed }}</h5>
  </div>
  <!-- show template if empty -->
  <table *ngIf="clients?.length > 0; else noClients" class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.firstName }} {{ client.lastName }}</td>
        <td>{{ client.email }}</td>
        <!-- Currency Pipe Angular 5 https://codecraft.tv/courses/angular/pipes/built-in-pipes/#_currencypipe -->
        <td>{{ client.balance | currency: 'USD':'symbol-narrow' }}</td>
        <!-- Dynamic Route [routerLink]-->
        <td><a [routerLink]="['/client/' + client.key]" href="" class="btn btn-secondary btn-sm">
         <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Details</a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- template -->
<ng-template #noClients>
  <hr>
  <h5>There are no clients in the system</h5>
</ng-template>