<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>
      Back to Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit-client/' + id]" class="btn btn-dark"><i class="fa fa-pencil-square-o"></i> Edit</a>
      <button class="btn btn-danger" (click)="onDeleteClick()"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>
<br>
<div *ngIf="client" class="card">
  <h4 class="card-header">{{ client.firstName }} {{ client.lastName }}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h4>Client ID: {{ id }}</h4>
      </div>
      <!-- Color of the 'balance' item -->
      <div class="col-md-4">
        <h5 class="pull-right">Balance: 
          <span 
            [class.text-danger]="hasBalance"
            [class.text-success]="!hasBalance"
          >{{ client.balance | currency:"USD" }}</span>
          <small>
            <a (click)="showBalanceUpdateInput = !showBalanceUpdateInput">
              <i class="fa fa fa-balance-scale"></i>
            </a>
          </small>
        </h5>
        <div class="clearfix">
          <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)">
            <div class="input-group">
              <input type="text" name="balance" class="form-control" [(ngModel)]="client.balance">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Update</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Contant Email: {{ client.email }}</li>
      <li class="list-group-item">Contant Phone: {{ client.phone }}</li>
    </ul>
  </div>
</div>