body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .container { margin: 50px auto 40px auto; width: 100%; text-align: center; }

  h1 { width: 100%; position:relative; letter-spacing: -1px; line-height: 60px; font-size: 140px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
  p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }