<div class="row">
    <div class="col-md-6">
      <a routerLink="/" href="#" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i>
        Back to Dashboard
      </a>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="container col-md-5">
    <div class="card">
      <div class="card-header">
        Settings
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <input type="checkbox" name="allowRegistration" [checked]="settings.allowRegistration" (change)="settings.allowRegistration = !settings.allowRegistration">
              </span>
              <input class="form-control" type="text" placeholder="Allow Registration" readonly>
            </div>
          </div><hr>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <input type="checkbox" name="disableBalanceOnAdd" [checked]="settings.disableBalanceOnAdd" (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd">
              </span>
              <input class="form-control" type="text" placeholder="Disable Balance on Add" readonly>
            </div>
          </div><hr>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                  <input type="checkbox" name="disableBalanceOnEdit" [checked]="settings.disableBalanceOnEdit" (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit">
              </span>
              <input class="form-control" type="text" placeholder="Disable Balance on Edit" readonly>
            </div>
          </div><hr>
          <input type="submit" value="Submit" class="btn btn-dark btn-block">
        </form>
      </div>
    </div>
  </div>